
<div class="main">

  <div class="image-container">
    <img [src]="product.productImages[selectedProductIndex].url">
  </div>
  <h1>{{product.productName}}</h1>

  <div class="sub-pic">
    <div *ngFor="let file of product.productImages let i = index;">
      <div (click)="changeImage(i)">
        <img [src]="file.url" alt="Preview" class="preview-img" />
      </div>
    </div>
  </div>
  <div>
    <hr>
    <button (click)="buyProduct(product.productId)" mat-raised-button color="primary">Buy Now</button>
    <button style="margin-left: 8px;" (click)="addToCart(product.productId)" mat-raised-button color="accent">Add
      Cart</button>
  </div>
  <hr>
  <div class="product-details">
    <div>
      <h2>Main Features:</h2>
      <!-- <p>{{product.longDescription}}</p> -->
      <p [innerHTML]="product.shortDescription"></p>
    </div>
    <div>
      <h2>Description:</h2>
      <p [innerHTML]="product.longDescription"></p>
    </div>
  </div>
</div>