.width{
    background-color: #f8f8f8de;
    min-height: 500px;
}
.name{
    color: #000000;
    text-align: center;
    padding: 20px;
}
  /* matcard.......... */

  .content {
    text-align: center;
}  
.content h1{
    font-size: 30px;
    color: #34364e;
    
}  

.title h1{
    text-align: center;
    background-color: #0bcdfe;
    padding:0 10px;
    color: rgba(255, 255, 255, 0.909);
    border-radius: 10px;
}


.u-title h1{
    text-align: center;
    background-color: #00e363fd;
    padding:0 10px;
    color: rgba(255, 255, 255, 0.909);
    border-radius: 10px;
}
.b-title h1{
    text-align: center;
    background-color: #1f6eff;
    padding:0 10px;
    color: rgba(255, 255, 255, 0.909);
    border-radius: 10px;
}
.s-title h1{
    text-align: center;
    background-color: #ff491b;
    padding:0 10px;
    color: rgba(255, 255, 255, 0.909);
    border-radius: 10px;
}
.r-title h1{
    text-align: center;
    background-color: #ffae00;
    padding:0 10px;
    color: rgba(255, 255, 255, 0.909);
    border-radius: 10px;
}

.bootstrap-wrapper{
    padding: 20px 0;
}
.example-card{
    margin-top: 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #ffff;
}
mat-card-subtitle{
    color: #5e5e5e;
}
button{
    color: #158eff;
    border: none;
   background-color: #fff;
    cursor: pointer;
}
