* {
    color: #2c2c2c;
  }
  
  .password-change-form {
    max-width: 400px;
    display: block;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px #313030;
    
  }
  
  .password-change-form h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="password"],
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border 0.3s; 

  }
  
  .form-group input[type="password"]:focus,
  .form-group input[type="text"]:focus {
    border-color: #007BFF; 
  }
  
  button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .password-input {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle span {
    font-family: 'Material Icons';
    font-size: 20px;
  }
  