<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
  
          <mat-card class="title-mat">
  
            <mat-card-title class="card-title">All Customers List</mat-card-title>
  
          </mat-card>
          <!-- <mat-form-field class="filter">
                      <mat-label>Filter</mat-label>
                      <input [(ngModel)]="searchText" matInput placeholder="search" #input>
                </mat-form-field> -->
  
        </div>
        <div class="col-md-12 ">
  
      
          <div class="table-div">
            <table class="table-mat">
              <tr>
                <th>Serial No</th>
                <th>Name</th>
                <th>username</th>
                <th>email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Delete</th>
                <!-- <th>Add Subcategory</th> -->

    
              </tr>
              <tr *ngFor="let u of users | paginate: { itemsPerPage: pageSize, currentPage: page } ; let i = index">
                <td>{{i+1}}</td>
    
                <td>{{u.firstName}} {{u.lastName}}</td>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td>{{u.phone}}</td>
              
                <td>{{u.authorities[0].authority}}</td>
             
    
                <td>
                  <button color="warn" mat-raised-button>
                    Delete <mat-icon>delete</mat-icon>
                  </button>
                </td>
    
              </tr>
            </table>
          </div>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
  
    </div>
  </div>