<div class="over">
  <div class="cart-title">
    <h2>Cart List</h2>
    <p>Shop and Be Happy</p>
  </div>
  <div class="bootstrap-wrapper">
      <div class="row">
          <div class="container">
              <div class="col-md-12 offset-md-10">
                  <button (click)="checkout()" mat-raised-button color="primary">Checkout All</button>
              </div>
              <div class="col-md-12">
                  <mat-card *ngFor="let c of cartDetails"  class="example-card">
                      <mat-card-header>
                        <mat-card-title-group>
                          <mat-card-title>{{c.product.productName}}</mat-card-title>
                          <mat-card-subtitle style="color: rgb(0, 209, 0);">Price: {{c.product.discountPrice}} Taka</mat-card-subtitle>
                          <img mat-card-sm-image [src]="c.product.productImages[0].url" >
                        </mat-card-title-group>
                      </mat-card-header>
                      <mat-card-content>
                        <!-- {{c.product.shortDescription}} -->
                        <p [innerHTML]="c.product.shortDescription"></p>
                      </mat-card-content>
                      <div>
                          <button (click)="deleteCart(c.cartId)" mat-raised-button color="warn">Remove</button>
                      <button (click)="buyProduct(c.product.productId)" mat-raised-button color="primary">Checkout</button>
                      </div>
                    </mat-card>
              </div>
          </div>
      </div>
  </div>
</div>